html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
#__next {
  height: 100%;
  scrollbar-width: none;
}

body {
  padding-top: 80px;
}
a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  opacity: 0.8;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noscroll::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "TsukushiAMaruGhothic";
  font-weight: normal;
  src: url("/fonts/TsukushiAMaruGothic.woff2") format("woff2"),
    url("/fonts/TsukushiAMaruGothic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "TsukushiAMaruGhothic";
  font-weight: bold;
  src: url("/fonts/TsukushiAMaruGothic-Bold.woff2") format("woff2"),
    url("/fonts/TsukushiAMaruGothic-Bold.woff") format("woff");
  font-display: swap;
}

@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
